.Band {
  height: 350px;
  width: 300px;
  border: 1px solid black;
  margin: 5px;
  background-color: darkslategrey;
  color: white;
}

.band-name {
  font-size: 30px;
  font-weight: bold;
}

.band-info {
  display: flex;
  align-items: flex-start;
  text-align: left;
  margin: 10px 18px 10px 18px;
  padding: 5px;
}

ul {
  text-align: left;
}
